.site-header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background: #100e17;
}

.navigation {
  height: 100px;
  width: 100%;
}

.header-middle {
  grid-column: 3/7;
}

.nav-list {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.nav-list .nav-item {
  text-transform: uppercase;
  font-size: 2rem;
}
.nav-list .nav-item a {
  color: white;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
  grid-row-gap: 1.6rem;
  margin-top: 1.6rem;
}

.ftd-main-content {
  grid-column: 1/-1;
  padding: 1rem;
}

.heading-front-page {
  text-align: center;
  font-size: 3rem;
}

.featured-hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.featured-content-card {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #cdcdcd;
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.3);
  padding: 2rem;
  cursor: pointer;
  min-height: 500px;
  transition: all 0.2s;
  justify-content: center;
  align-items: center;
}
.featured-content-card:hover {
  transform: scale(1.02);
}

.featured-content-card-heading {
  font-size: 3.5rem;
  text-align: center;
}

.featured-content-card-content, .featured-content-card-author {
  font-size: 3rem;
}

.featured-content-card-author {
  font-weight: 700;
}

.secondary-content-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 3rem 0;
}
.secondary-content-list h1 {
  text-align: center;
  font-size: 4rem;
  grid-column: 1/-1;
}

.item-list {
  grid-column: 2/4;
  list-style: none;
}

.item {
  display: grid;
  grid-template-columns: 300px 1fr;
  border-bottom: 0.2rem dashed #8f8d8d;
  font-size: 1.6rem;
  align-content: center;
  justify-content: center;
  padding: 2rem 0;
}
.item .item-title {
  font-size: 2rem;
}
.item .item-title a {
  text-decoration: none;
}
.item .item-date {
  color: grey;
}
.item .item-image {
  grid-column: 1;
}
.item .item-image img {
  width: 284px;
  height: 184px;
}
.item .item-content {
  grid-column: 2;
}

.article-item {
  font-size: 1.6rem;
  margin: 3rem 0;
}
.article-item .heading {
  font-size: 3rem;
}
.article-item .heading a {
  text-decoration: none;
  color: #333;
}
.article-item .date {
  color: #666;
}

.pager__items {
  font-size: 2rem;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  padding-top: 3rem;
}
.pager__items li.is-active a {
  text-decoration: underline;
}
.pager__items a, .pager__items a:visited {
  border: 0.1rem solid #666;
  color: #333;
  text-decoration: none;
  border-radius: 1rem;
  padding: 2rem;
}

.event-item {
  font-size: 1.6rem;
  margin: 3rem 0;
}
.event-item .event-heading {
  font-size: 3rem;
}
.event-item .event-heading a {
  text-decoration: none;
  color: #333;
}
.event-item .event-date {
  color: #666;
}
.event-item .event-speakers {
  font-weight: 700;
}
.event-item .speaker {
  padding: 0.5rem 0;
}
.event-item .speaker-info {
  display: none;
}
.event-item .speaker-info > * {
  padding: 1rem 0;
}
.event-item .event-speakers-info {
  display: grid;
  grid-template-rows: 1fr;
}

.main_page-content {
  grid-column: 2/10;
  font-size: 1.6rem;
}
.main_page-content h1 {
  font-size: 3rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
