<header class="site-header" role="banner">
  <div class="header-middle">

    <nav class="navigation">
      <ul class="nav-list">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/articles">Articles</a></li>
        <li class="nav-item"><a href="#">Events</a></li>
        <li class="nav-item"><a href="#">Team</a></li>
      </ul>
    </nav>
  </div>
</header>
